html {
  font-family: sans-serif;
}

p {
  margin: 0;
}

#main {
  padding: 1rem;
}

input {
  font-size: 16px;
  padding: 4px;
  margin: 6px 4px 0 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #0066aa;
}

.demo-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}

.Histoslider {
  width: 500px;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
